@keyframes spinner-animation{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes typing-animation{
    0%{
        content: "l";
    }
    5%{
        content: "lo";
    }
    10%{
        content: "loa";
    }
    15%{
        content: "load";
    }
    20%{
        content: "loadi";
    }
    25%{
        content: "loadin";
    }
    30%{
        content: "loading";
    }
    35%{
        content: "loading.";
    }
    40%{
        content: "loading..";
    }
    45%{
        content: "loading...";
    }
    50%{
        content: "loading....";
    }
    55%{
        content: "loading...";
    }
    60%{
        content: "loading..";
    }
    65%{
        content: "loading.";
    }
    70%{
        content: "loading";
    }
    75%{
        content: "loadin";
    }
    80%{
        content: "loadi";
    }
    85%{
        content: "load";
    }
    90%{
        content: "loa";
    }
    95%{
        content: "lo";
    }
    100%{
        content: "";
    }
}
.fade-in{
    animation: fade-in-animation 2s 2s linear infinite;
}
@keyframes fade-in-animation{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.50;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}
.pulsing{
    animation: pulsing-animation 2s 2s linear infinite;
}
@keyframes pulsing-animation{
    0%{
        transform: scale(0.5);
    }
    25%{
        transform: scale(0.75);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.075);
    }
    100%{
        transform: scale(1.100);
    }
}