:root{
    --main-font-family: "Amatic SC" , sans-serif;
    --secondary-font-family: "Winky Rough" , sans-serif;
    --wid-fit-content: fit-content;
    --color-green: #5C6F2B;
    --color-orange: #DE802B;
    --color-grey: #EEEEEE;
    --color-beige: #D8C9A7;
    --transition-second: all 1s 1s ease;
}
.main-family{
    font-family: var(--main-font-family);
}
.sec-family{
    font-family: var(--secondary-font-family);
}
.w-fit{
    width: var(--wid-fit-content);
}
.text-green{
    color: var(--color-green);
}
.bg-green{
    background-color: var(--color-green);
}
.text-orange{
    color: var(--color-orange);
}
.bg-orange{
    background-color: var(--color-orange);
}
.text-grey{
    color: var(--color-grey);
}
.bg-grey{
    background-color: var(--color-grey);
}
.text-beige{
    color: var(--color-beige);
}
.bg-beige{
    background-color: var(--color-beige);
}
.transition-sec{
    transition: var(--transition-second);
}
body::before{
    content: "";
    position: absolute;
    top: 0%;
    right: 50%;
    bottom: 20%;
    transform: translate(50% , 15%);
    height: 75%;
    width: 75%;
    border-radius: 50%;
    background-color: var(--color-green);
}
body::after{
    content: "";
    position: absolute;
    top: 2%;
    left: 87%;
    height: 35%;
    width: 10%;
    background-color: var(--color-orange);
    border-radius: 50% 50% 0% 50%;
}
.main-container .main-loader-container{
    height: 100vh;
    opacity: 0.35;
}
.main-container .main-loader-container .loader-container{
    height: 60px;
    width: 60px;
    z-index: 999999999999;
    box-shadow: 0px 0px 6px 4px var(--color-orange);
    border-top-color: var(--color-grey) !important;
    animation: spinner-animation 0.5s infinite linear;
}
.main-container .main-loader-container .loader-text{
    z-index: 99999999999999;
    font-size: 32px;
    font-weight: 900;
    box-shadow: 0px 0px 6px 4px var(--color-green);
}
.main-container .main-loader-container .loader-text::after{
    content: "";
    animation: typing-animation 0.5s 0.5s linear infinite;
}

.main-container .main-content-container{
    /* opacity: 0.5; */
    z-index: 999999999;
    transform: translate(50% , -50%);
    box-shadow: 0px 0px 8px 4px var(--color-grey);
}
.main-container .main-content-container:hover{
    background-color: var(--color-beige);
    box-shadow: 0px 0px 8px 4px var(--color-orange);
}
.main-container .main-content-container::before{
    content: "";
    position: absolute;
    top: 97%;
    right: 20%;
    bottom: 3%;
    left: 10%;
    border: solid 4px var(--color-green);
    border-radius: 9.25px;
    transition: top 2s 2s ease , right 2s 2s ease , bottom 2s 2s ease , left 2s 2s ease;
}
.main-container .main-content-container:hover::before{
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.main-container .main-content-container .error-image{
    box-shadow: 0px 0px 6px 4px var(--color-green);
    width: 55%;
}
.main-container .main-content-container .error-image:hover{
    background-color: var(--color-orange);
    box-shadow: 0px 0px 4px 6px var(--color-grey);
    transform: scale(1.0325) rotatex(360deg) skew(2deg , 2deg);
}
.main-container .main-content-container .main-heading{
    font-size: 30px;
    font-weight: 900;
    box-shadow: 0px 0px 6px 4px var(--color-green);
}
.main-container .main-content-container .main-heading:hover{
    background-color: var(--color-green);
    color: var(--color-grey);
    box-shadow: 0px 0px 6px 4px var(--color-grey);
    transform: scale(1.08) rotatex(360deg) skew(1.5deg , 1.5deg);
}
.main-container .main-content-container .main-heading::after{
    content: "";
    position: absolute;
    top: 100%;
    right: 100%;
    bottom: 100%;
    left: 100%;
    border: solid 4px var(--color-orange);
    border-radius: 9.25px;
    transition: top 2s 2s ease , right 2s 2s ease , bottom 2s 2s ease , left 2s 2s ease;
}
.main-container .main-content-container .main-heading:hover::after{
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.main-container .main-content-container .main-heading::before{
    content: "";
    position: absolute;
    top: 100%;
    right: 100%;
    bottom: 100%;
    left: 100%;
    background-color: var(--color-orange);
    opacity: 0.35;
    transition: top 2s 2s ease , right 2s 2s ease , bottom 2s 2s ease , left 2s 2s ease;
}
.main-container .main-content-container .main-heading:hover::before{
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.main-container .main-content-container .main-description , .main-container .main-content-container .secondary-description{
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0px 0px 5px 3px var(--color-green);
}
.main-container .main-content-container .main-description:hover , .main-container .main-content-container .secondary-description:hover{
    background-color: var(--color-green);
    color: var(--color-grey);
    box-shadow: 0px 0px 5px 3px var(--color-grey);
    transform: scale(1.08) rotatex(360deg) skew(2deg , 2deg);
}
.main-container .main-content-container .main-description::after , .main-container .main-content-container .secondary-description::after{
    content: "";
    position: absolute;
    top: 3%;
    right: 99%;
    bottom: 5%;
    left: 1%;
    border: solid 2.5px var(--color-orange);
    border-radius: 9.25px;
    transition: top 2s 2s ease , right 2s 2s ease , bottom 2s 2s ease , left 2s 2s ease;
}
.main-container .main-content-container .main-description:hover::after , .main-container .main-content-container .secondary-description:hover::after{
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.main-container .main-content-container .main-description::before , .main-container .main-content-container .secondary-description::before{
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    bottom: 100%;
    left: 50%;
    background-color: var(--color-orange);
    opacity: 0.35;
    transition: top 2s 2s ease , right 2s 2s ease , bottom 2s 2s ease , left 2s 2s ease;
}
.main-container .main-content-container .main-description:hover::before , .main-container .main-content-container .secondary-description:hover::before{
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.main-container .main-content-container .main-button{
    outline: none;
    font-size: 26px;
    font-weight: 900;
}
.main-container .main-content-container .main-button:focus{
    background-color: var(--color-green);
    color: var(--color-grey);
    outline: solid 3px var(--color-grey);
    transform: rotatex(360deg) scale(1.04) skew(1deg , 1deg);
}
.main-container .main-content-container .main-button::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    /* transform: translate(50% , 50%); */
    border-radius: 50%;
    background-color: var(--color-orange);
    opacity: 0.35;
    transition: top 2s 2s ease , right 2s 2s ease , bottom 2s 2s ease , left 2s 2s ease;
}
.main-container .main-content-container .main-button:focus::before{
    top: 10%;
    right: 5%;
    bottom: 10%;
    left: 5%;
}