@media(max-width: 440px){
    body::after{
        width: 20%;
        height: 20%;
        left: 75%;
        top: 0%;
    }
    body::before{
        height: 75%;
        width: 100%;
        transform: translate(50% , 15%);
    }
    .main-container .main-content-container{
        width: 90% !important;
    }
    .main-container .main-content-container .error-image{
        width: 35%;
    }
}
@media((min-width: 440px) and (max-width: 576px)){
    body::after{
        width: 20%;
        height: 20%;
        left: 75%;
        top: 0%;
    }
    body::before{
        height: 75%;
        width: 99.5%;
        transform: translate(50% , 15%);
    }
    .main-container .main-content-container{
        width: 80% !important;
    }
    .main-container .main-content-container .error-image{
        width: 35%;
    }
}
@media((min-width: 576px) and (max-width: 768px)){
    body::after{
        width: 22%;
        height: 22%;
        left: 77%;
        top: 0%;
    }
    body::before{
        height: 85%;
        width: 85%;
        transform: translate(50% , 10%);
    }
    .main-container .main-content-container{
        width: 60% !important;
    }
    .main-container .main-content-container .error-image{
        width: 40%;
    }
}
@media((min-width: 768px) and (max-width: 992px)){
    body::after{
        width: 22%;
        height: 22%;
        left: 74.5%;
        top: 0%;
    }
    body::before{
        width: 85%;
        height: 85%;
        transform: translate(50% , 12%)
    }
    .main-container .main-content-container{
        width: 45% !important;
    }
}
@media((min-width: 992px) and (max-width: 1200px)){
    body::after{
        width: 15%;
        height: 25%;
        left: 84.5%;
        top: 5%;
    }
    body::before{
        width: 85%;
        height: 85%;
        transform: translate(50% , 10%);
    }
    .main-container .main-content-container{
        width: 35% !important;
    }
}