body .main-container .loader-container .loader-content-container::after{
    content: "";
    animation: typing-animation 1.5s 1.5s infinite ease;
}
@keyframes typing-animation{
    0%{
        content: "l";
    }
    5%{
        content: "lo";
    }
    10%{
        content: "loa";
    }
    15%{
        content: "load";
    }
    20%{
        content: "loadi";
    }
    25%{
        content: "loadin";
    }
    30%{
        content: "loading";
    }
    35%{
        content: "loading.";
    }
    40%{
        content: "loading..";
    }
    45%{
        content: "loading...";
    }
    50%{
        content: "loading....";
    }
    55%{
        content: "loading...";
    }
    60%{
        content: "loading..";
    }
    65%{
        content: "loading.";
    }
    70%{
        content: "loading";
    }
    75%{
        content: "loadin";
    }
    80%{
        content: "loadi";
    }
    85%{
        content: "load";
    }
    90%{
        content: "lo";
    }
    95%{
        content: "l";
    }
    100%{
        content: ""
    }
}
body .main-container .loader-container .loader-animation-container{
    animation: spinner-animation 2s 2s ease infinite;
}
@keyframes spinner-animation{
    100%{
        transform: rotate(360deg);
    }
}